* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}


.logo {
  position: absolute;
  left: 20px;
  top: 0px;

  h1 {
    font-size: 3rem;
    margin-top: 0;
    color: #03256c;
  }

  h3 {
    position: absolute;
    right: 0;
    top: 30px;
    color: #06bee1;
  }
}

.bpm-header {
  color: #1768ac;
  .bpm-value {
    font-size: 4rem;
    font-weight: 900;
  }

  .bpm-label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 20px;
  }
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  margin: 20px;

  .btn-round {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 40px;
    line-height: 39px;
    font-size: 35px;
    font-weight: 500;
    float: right;
    padding: 0 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: thin solid rgba(136, 146, 153, 0.5);

    span {
      margin-top: -5px;
      line-height: 32px;
    }
  }
}

.circle-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px 0;
  .circle {
    width: 300px;
    height: 300px;
    border: solid 4px #aeaeae;

    border-radius: 150px;

    &.selected{
      background: #555;
    }
  }
}

.btn {
  padding: 5px 10px 7px;
  min-width: 100px;
  border: 1px solid #aaa;
  background: #03256c;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  &:hover{
    background: #1768AC;
    color: #fff;
  }
}

.options{
  position: absolute;
  top: 20px;
  right: 20px;
}

$colors: #1abc9c, #2ecc71, #3498db, #9b59b6, #34495e, #16a085, #27ae60, #2980b9, #8e44ad, #2c3e50, #f1c40f, #e67e22, #e74c3c, #ecf0f1, #95a5a6, #f39c12, #d35400, #c0392b, #bdc3c7, #7f8c8d;

.colors-wrapper{
  width: 170px;
  .square{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    border: 2px solid #fff;

    &.selected{
      border: 2px solid #03256c;
    }
  }
}


@each $color in $colors {
  $i: index($colors, $color) - 1;

  .color#{$i}-0{
    background: $color;
  }
  
  .color#{$i}-1{
    background: lighten($color, 20);
  }
  
  .color#{$i}-2{
    background: lighten($color, 30);
  }
  .color#{$i}-3{
    background: lighten($color, 60);
  }
}